body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#joe {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 30%;
  background-image: url(joe.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#menu {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: green;
}

.item {
position: relative;
  margin: 10px;
  cursor: pointer;
 width: 70px;
 height: 70px;
}

#message {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  font-family: cursive;
  color: red;
  display: none;
}
