* {
  background-color: rgb(151, 171, 150);
}
.titledate {
  font-family: 'Courier New', monospace;
  font-size: 19px;
  padding-top: 0px
}
.info {
  font-size: 8px;
}
img {
width: 200;
}
.projects {
border: 4px solid black;
padding-bottom: 20px;
width: 400px;
}