* {
  background-color: black;
}

@keyframes imgan {
transform: rotate(0deg);
transform: rotate (360deg);
}

img {
width: 50%;
height: 50%;
animation-name: imgan;
animation-duration: 30s;
animation-timing-function: linear;
display: block;
animation-iteration-count: infinite;
}
