body {
background-color: #cccccc;
display: inline-block;

}
p {
 padding-bottom: 20%;
}

img {
width: 60%;
   height: 60%;
padding: 0;
margin: 0;
animation: wheel 10s infinite;
animation-timing-function: linear;
border: 20px solid black;

}

@keyframes wheel {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
}
