body {
background-color: #cccccc;
display: inline-block;

}


#wheel {
width: 60%;
   height: 60%;
padding-top: 10%;
animation: wheel 10s infinite;
animation-timing-function: linear;


}

@keyframes wheel {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
}
